header{
    background:  linear-gradient(rgba(0, 0, 0, 0.5),rgb(0, 0, 0, 0.5)), url('../img/shoppingcart_img.jpg');
    background-size: cover;
    background-position: center;
    min-height: 700px;
}

@media screen and (max-width: 700px){
    header{
        min-height: 600px;
    }
}

.carousel-slider{
    height: 600px !important;
    background-size: contain;
}

.homecontainer{
    position: absolute;
    top: 45%;
    left: 34%;
    transform: translate(-30%, -50%);
}

.hometext{
    text-shadow: 1px 1px 5px rgb(58, 57, 57);
    font-weight: bold;
}

.hometextbtn{
    font-weight: bold;
    border-radius: 5px !important;
}

.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.logo{
    height: 200px;
    width: 200px;
}

/* To make navbar sticked on the top. But this looked not so nice. So I'm removing this */
/* .homenav{
    position:fixed;
} */

.homenavlist:hover{
    border-bottom: 1px solid white;
}
.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.accessing{
    top: 67px !important;
}

.homeprofileimg{
    margin-top: 7px;
    width:50px;
    height:60px;
}

.homeprofileimg:hover{
    opacity: 80%;
}